<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Aminate CSS -->
    <link rel="stylesheet" href="~/css/animate.css" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/css/flaticon.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
 
    <!-- Lightbox CSS -->
    <link rel="stylesheet" href="~/css/lightbox.css" />
    <!-- Skin Red Css -->
    <link rel="stylesheet" href="~/css/skin-red.css" />
    <!-- Header CSS -->
    <link rel="stylesheet" href="~/css/header.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css" />

    <script src="js/jquery.min.js"></script>
</head>
<body>
    <div class="wraper">
        <partial name="../Shared/_topHeader" />
        <partial name="../Shared/_navMenu" />
        @RenderBody()
    </div>
    <partial name="../Shared/_Footer" />


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="~/themes/standard/js/highlight.js" asp-append-version="true"></script>
    <script src="~/themes/standard/js/scripts.js" asp-append-version="true"></script>
    <script src="~/themes/standard/js/newsletter.js" asp-append-version="true"></script>
    <!--jquery js-->
    <!-- ====== Footer End ====== -->
    <!-- popper js-->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints js plugin -->
    <script src="js/waypoints.min.js"></script>
    <!-- Counter-up js plugin -->
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Preloadinator -->
    <!-- Lightbox-->
    <script src="js/lightbox.js"></script>
    <!--imageloaded js plugin -->
    <script src="js/imagesloaded.js"></script>
    <!-- isotope js -->
    <script src="js/isotope.min.js"></script>
    <!-- Owl Slider js-->
    <script src="js/owl.carousel.js"></script>
    <script src="js/owl.custom.js"></script>
    <!-- parallax js-->
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/jquery.localscroll-1.2.7-min.js"></script>
    <!-- Header menu -->
    <script src="js/jquery.smartmenus.min.js"></script>
    <!-- Custome js-->
    <script src="js/custom.js"></script>
</body>
</html>
