<section id="services" class="gray-bg index-2">
    <div class="container">
        <div class="section_heading">
            <h2>Services</h2>
            <div class="separator">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="heading_content">
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
            <div class="service-slider owl-one owl-carousel owl-theme owl-loaded owl-drag">











                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(-1705px, 0px, 0px); transition: all 0s ease 0s; width: 6538px;">
                        <div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-computer-graphic"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Design">Web Design</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-servers"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Hosting">Web Hosting</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-digital-marketing"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Digital Marketing">Digital Marketing</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Development">Web Development</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-computer-graphic"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Design">Web Design</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-servers"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Hosting">Web Hosting</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Development">Web Development</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-computer-graphic"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Design">Web Design</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-servers"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Hosting">Web Hosting</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item active" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-digital-marketing"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Digital Marketing">Digital Marketing</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Development">Web Development</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-computer-graphic"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Design">Web Design</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-servers"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Hosting">Web Hosting</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-digital-marketing"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Digital Marketing">Digital Marketing</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Development">Web Development</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-computer-graphic"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Design">Web Design</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-servers"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Hosting">Web Hosting</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Development">Web Development</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-computer-graphic"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Design">Web Design</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-servers"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Hosting">Web Hosting</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-digital-marketing"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Digital Marketing">Digital Marketing</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-web-design"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Development">Web Development</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="owl-item cloned" style="width: 257.25px; margin-right: 27px;">
                            <div class="item">
                                <div class="service_icon"><i class="flat flaticon-computer-graphic"></i></div>
                                <div class="connector"> <span></span> </div>
                                <div class="service-card">
                                    <div class="service_detail">
                                        <h5><a href="service-detail.html" title="Web Design">Web Design</a></h5>
                                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous"><img src="./img/prev.png" alt=""></span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next"><img src="./img/next.png" alt=""></span></button></div><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button>
            </div>
            <div class="h-border"><span></span></div>
        </div>
    </div>
</section>
