<section id="contact-us">
  <div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
           <h3>Contact Info</h3>
           <div class="separator left-align ">
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <div class="info">
                  <ul>
                    <li>
                      <div class="icon">
                        <i class="flat flaticon-phone-receiver"></i>
                      </div>
                      <div class="content">
                        <div class="label">Phone No.</div>
                        <div class="value"> +234-(90)-135-70491 <br/> +1-(302)-703-7488 </div>
                      </div>
                    </li>

                    <li>
                      <div class="icon">
                        <i class="flat flaticon-mail-black-envelope-symbol"></i>
                      </div>
                      <div class="content">
                        <div class="label">Email</div>
                        <div class="value">info@pierolo.com</div>
                      </div>
                    </li>

                    <li>
                      <div class="icon">
                        <i class="flat flaticon-facebook-placeholder-for-locate-places-on-maps"></i>
                      </div>
                      <div class="content">
                        <div class="label">Address</div>
                        <div class="value">2803, Pike Ste B, Philadelphia, Claymont, DE 19703 </div>
                      </div>
                    </li>

                          <li>
                      <div class="icon">
                        <i class="flat flaticon-facebook-placeholder-for-locate-places-on-maps"></i>
                      </div>
                      <div class="content">
                        <div class="label">Address</div>
                        <div class="value">
                          2803 Philadelphia <br>
                          Pike Ste B <br>
                          PMB 607 <br>
                          Claymont, <br>
                          DE 19703
                           </div>
                      </div>
                    </li>
                  </ul>
              </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
          <div class="form-header text-center">
              <h4>Let’s Get In Touch!</h4>
               <div class="separator">
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <p>It would be great to hear from you! If you got any questions</p>
          </div>
          <div class="contact-form">
            <form action="/">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input value="" type="text" placeholder="Full Name">
                  </div>
                  <div class="form-group">
                    <input value="" type="text" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input value="" type="text" placeholder="Phone No.">
                  </div>
                  <div class="form-group">
                    <input value="" type="text" placeholder="Subject">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                  <textarea placeholder="Message"></textarea>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group text-center mar-none">
                  <button type="submit">Send Message <i class="flat flaticon-plane"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>