<section id="about-us-inner" class="index-2">
  <div class="container">
   <h2 class="d-none">Heading</h2>
    <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img class="img-area" src="~/img/about_us_2.jpg" alt="About"> </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
          <div class="about-heading">About us</div>
          <p>PIEROLO LIMITED is a registered company with Corporate Affairs Commission CAC, as well as Nigerian Export Promotion Council (NEPC). <br/> 
              PIEROLO LIMITED is an indigenous non-oil exporting company in Nigeria. The company came into existence after the identification of a non-oil exporting opportunity in Nigeria. <br/>PIEROLO LIMITED primarily focuses on delivering agricultural crops for people across Nigeria including International delivery; from local, to state, to nations and global; through freight cargo transportation procurement on general merchandise via courier E-commerce business supply chain management.
               <br/>PIEROLO LIMITED - Real Estate and General Construction is in synergy with the Government of Bayelsa State Physical Planning and Development Board (BSPPDB) and Bayelsa State Geographic Information System (BGIS). <br/>Our office is open to the general public for business consultant, most especially company formation for offshore positioning. We are open to get your business registered but locally and internationally.</p>
          
        </div>
      </div>
    </div>
  </div>
</section>
